.navbar {
    background-color: black;
}
.navbar ul li {
    margin-right: 10px;
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.banner .container {
    margin: 150px auto;
}
.banner h1 {
    font-size: 50px;
    font-weight: bold;
}
.banner p {
    font-size: 25px;
}
.item {
    margin: 50px auto;
}
.item .col-4 {
    padding: 20px;
    background-color: whitesmoke;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 0;
}
.icon {
    width: 60px;
    background-color: rgb(59, 190, 238);
    justify-content: center;
    margin-left: 150px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 30px;
}